<div class="loading-shade" *ngIf="isLoading" fxLayoutAlign="center center">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div class="person">
  <!--LOCATION BACK-->
  <button class="btn-back" (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <section *ngIf="person">

    <!--PROFIL-->
    <div class="profil" >
      <img *ngIf="person.profile_path" class="img_profile"  src="https://image.tmdb.org/t/p/w185/{{person.profile_path}}" alt="profile">
      <img *ngIf="!person.profile_path" class="img_profile"  src="https://placehold.it/500x740">
      <h2>{{person.name}}</h2>
      <p>{{person.birthday | date }}</p>
    </div>

    <!--BIOGRAPHIE-->
    <div class="biographie" *ngIf="person.biography">
      <span >Biographie</span>      
      <p>{{person.biography}}</p>
    </div>
  </section>

  <!--FILMS JOUE-->
  <mat-tab-group>
    <mat-tab label="Films">
        <section class="items body" *ngIf="movies; else noData">
            <div class="item movies-container" *ngFor="let movie of movies">
              <a [routerLink]="['/film', movie.id]">    

                  <mat-card>
                    <mat-card-content>
                      <div class="image">
                          <img *ngIf="movie.poster_path" src="https://image.tmdb.org/t/p/w185/{{movie.poster_path}}"
                          alt="poster movie">
                      </div>                  
                    </mat-card-content>
                  </mat-card>
                  
                  <p>{{movie.title}}</p>
                  <p>Role : {{movie.character}}</p>
                  
              </a>
            </div>
          </section>

          <ng-template #noData>
            <i>Vide</i>
          </ng-template>

    </mat-tab>

  </mat-tab-group>

</div>